Problem 3

In [6]:
import numpy as np
import pandas as pd

A = np.array([[2, 4, 6], [1, 3, 5], [7, 9, 11]])
B = np.array([[8, 5, 2], [7, 4, 1], [6, 3, 0]])

#1_sum
sum_AB = A + B

#2_product
product_AB = A * B

#3_dot_product
dot_product = np.dot(A, B.T)

#determinant of A
det_A = np.linalg.det(A)

print("Element-wise Sum:\n", sum_AB)
print("Element-wise Product:\n", product_AB)
print("Dot Product of A and B.^T:\n", dot_product)
print("Determinant of A:", det_A)

Element-wise Sum:
 [[10  9  8]
 [ 8  7  6]
 [13 12 11]]
Element-wise Product:
 [[16 20 12]
 [ 7 12  5]
 [42 27  0]]
Dot Product of A and B.^T:
 [[ 48  36  24]
 [ 33  24  15]
 [123  96  69]]
Determinant of A: 0.0

Problem 4

In [3]:
import numpy as np

# Generate a NumPy array with 10,000 random values
data = np.random.randn(10000)

# Compute mean, median, and standard deviation
mean_val = np.mean(data)
median_val = np.median(data)
std_dev = np.std(data)

# Find min and max values
min_val = np.min(data)
max_val = np.max(data)

# Count values greater than mean
count_greater_than_mean = np.sum(data > mean_val)

# Normalize using Min-Max scaling
normalized_data = (data - min_val) / (max_val - min_val)

print("Mean:", mean_val)
print("Median:", median_val)
print("Standard Deviation:", std_dev)
print("Min:", min_val, "Max:", max_val)
print("Count greater than mean:", count_greater_than_mean)
print("Normalized Data (First 10 values):", normalized_data[:10])

Mean: -0.011980249222024786
Median: -0.00942576105591346
Standard Deviation: 0.9895915149031128
Min: -3.7971781939369107 Max: 4.212831989399737
Count greater than mean: 5006
Normalized Data (First 10 values): [0.3555958  0.47676052 0.55509791 0.41216641 0.46238519 0.56052666
 0.46715867 0.43236307 0.37681816 0.59415249]

Problem 5

In [4]:
temperatures = [28, 32, 35, 31, 29, 30, 33, 36, 27, 25, 34, 30, 29, 37, 38, 26, 31, 35, 33, 32, 36, 34, 29, 28, 27, 35, 32, 30, 31, 33]

# 1. List of temperatures above 32°C
above_32 = [temp for temp in temperatures if temp > 32]

# 2. Classification into "Hot", "Warm", or "Cool"
classified_temps = [(temp, "Hot" if temp > 35 else "Warm" if 30 <= temp <= 35 else "Cool") for temp in temperatures]

# 3. Temperature differences from the monthly average
avg_temp = sum(temperatures) / len(temperatures)
temp_differences = [temp - avg_temp for temp in temperatures]

print("Temperatures above 32°C:", above_32)
print("Classified Temperatures:", classified_temps)
print("Temperature Differences from Average:", temp_differences)

Temperatures above 32°C: [35, 33, 36, 34, 37, 38, 35, 33, 36, 34, 35, 33]
Classified Temperatures: [(28, 'Cool'), (32, 'Warm'), (35, 'Warm'), (31, 'Warm'), (29, 'Cool'), (30, 'Warm'), (33, 'Warm'), (36, 'Hot'), (27, 'Cool'), (25, 'Cool'), (34, 'Warm'), (30, 'Warm'), (29, 'Cool'), (37, 'Hot'), (38, 'Hot'), (26, 'Cool'), (31, 'Warm'), (35, 'Warm'), (33, 'Warm'), (32, 'Warm'), (36, 'Hot'), (34, 'Warm'), (29, 'Cool'), (28, 'Cool'), (27, 'Cool'), (35, 'Warm'), (32, 'Warm'), (30, 'Warm'), (31, 'Warm'), (33, 'Warm')]
Temperature Differences from Average: [-3.533333333333335, 0.466666666666665, 3.466666666666665, -0.533333333333335, -2.533333333333335, -1.533333333333335, 1.466666666666665, 4.466666666666665, -4.533333333333335, -6.533333333333335, 2.466666666666665, -1.533333333333335, -2.533333333333335, 5.466666666666665, 6.466666666666665, -5.533333333333335, -0.533333333333335, 3.466666666666665, 1.466666666666665, 0.466666666666665, 4.466666666666665, 2.466666666666665, -2.533333333333335, -3.533333333333335, -4.533333333333335, 3.466666666666665, 0.466666666666665, -1.533333333333335, -0.533333333333335, 1.466666666666665]

Problem 01

In [15]:
df = pd.read_csv('employees_large.csv')
print(df.head())

      Name  Age  Salary Department
0    Alice   25   45000         IT
1      Bob   30   70000         HR
2  Charlie   22   30000  Marketing
3    David   35   80000    Finance
4      Eva   28   50000         IT

In [28]:
#Average Salary of each Department
avg_salary = df.groupby("Department")["Salary"].mean()
for department, salary in avg_salary.items():
    print(f"Average Salary in {department}: ${salary:.2f}")

Average Salary in Engineering: $125000.00
Average Salary in Finance: $78000.00
Average Salary in HR: $68000.00
Average Salary in IT: $57750.00
Average Salary in Marketing: $43750.00

In [27]:
#Heighest salary
highest_avg_department = avg_salary.idxmax()
print("Department with Highest Average salary: ", highest_avg_department)

Department with Highest Average salary:  Engineering

Problem 02

In [43]:
dfj = pd.read_csv('sales_large.csv')
print(dfj.head())

  Region  Product  Sales
0   East   Apples   5000
1   West  Bananas   7000
2   East  Oranges   4000
3   West   Apples   6000
4  South  Oranges   3000

In [45]:

total_sales = df.groupby(["Region", "Product"])["Sales"].sum()
print(total_sales)

Region   Product
Central  Apples      9000
         Oranges     8000
East     Apples      5000
         Bananas     8500
         Oranges    13900
North    Apples      7200
         Bananas     9000
         Oranges     4900
South    Apples     12900
         Bananas     5100
         Oranges     3000
West     Apples     18900
         Bananas    14700
         Oranges     7500
Name: Sales, dtype: int64

In [41]:

highest_selling_product = df.groupby("Product")["Sales"].sum().idxmax()
print("Product with Highest Total Sales:", highest_selling_product)

Product with Highest Total Sales: Apples